
@{
    ViewData["Title"] = "UserDashBoard";
}

@section style{
    <link href="~/css/layout.css" rel="stylesheet" />
}


<div id="main">
    <el-container>
        <el-header>Header</el-header>
        <el-container>
            <el-aside width="auto">
                <my-aside></my-aside>
            </el-aside>
            <el-main>
                <router-view></router-view>
            </el-main>
        </el-container>
    </el-container>
</div>

@section script{
    <script src="~/js/router.js"></script>
    <script src="~/js/mixin.js"></script>

    <script>
        new Vue({
            el: '#main',
            router: router,
            mixins: [mixin],
            components: {
                'my-aside': httpVueLoader('../components/my-aside.vue')
            },
            data: {

            },
            created: function () {

            },
            computed: {

            },
            mounted: function () {

            },
            methods: {

            },
            el: "#main"
        })
    </script>
}